@media (max-width:1200px) {
    .container{
        max-width: 960px;
    }
    .search {
        &__block {
            &_blue {
                padding-right: 45px;
            }
            &_gray {
                padding-left: 45px;
            }
        }
    }
    .projects {
        &__wrapper {
            grid-template-columns: 651px 183px;
        }
        &__wrapper-cards {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            row-gap: 50px;
        }
        &__card {
            width: 300px;
            height: 520px;
        }
    }
}
@media (max-width:992px) {
    .container{
        max-width: 720px;
    }

    .header {
        &__wrapper {
            grid-template-columns: 201px 406px 112px;
        }
        &__title{
            font-size: 28px;
        }
        a {
            font-size: 11px;
        }
        &__btn {
            margin-left: 10px;
        }
    }
    
    .promo {
        &__title {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 30px;
        }
    }

    .capabilities {
        &__title {
            font-size: 27px;
        }
        &__info-wrapper {
            grid-template-columns: 113px 472px;
        }
        &__descr {
            margin-top: 18px;
        }
    }
    .search {
        &__img {
            display: none;
        }
        &__block {
            grid-template-columns: 256px;
            &_blue {
                .search__title {
                    text-align: right;
                }
                .search__descr {
                    text-align: right;
                }
            }
        }
        &__btn_blue {
            margin-left: 69px;
        }
    }
    .projects {
        &__wrapper {
            grid-template-columns: 410px 183px
        }
    }
}
@media (max-width:768px) {
    .container{
        max-width: 540px;
    }

    .header {
        &__nav {
            display: none;
        }
        &__btn {
            display: none;
        }
    }

    .promo{
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 25px;
        }
        &__btn {
            &:hover {
                background-color:#99c50a;
            }
        }
    }

    .capabilities {
        &__title {
            font-size: 20px;
        }
        &__cover {
            align-items: center;
            column-gap: 6px;
        }
        &__info-wrapper {
            column-gap: 64px;
            grid-template-columns: 113px 320px;
        }
        &__descr {
            font-size: 15px;
        }
        &__text-title {
            font-size: 19px;
        }
    }
    .search {
        &__btn {
            &_blue {
                &:hover {
                    background-color: #26a6d1;
                }
            }
            &_green {
                &:hover {
                    background-color: #add136;
                }
            }
        }
        &__block {
            grid-template-columns: 240px;
        }
        &__descr {
            font-size: 15px;
        }
    }
    .projects {
        &__wrapper {
            grid-template-columns: 230px 183px;
        }
        &__descr {
            margin-top: 13px;
            font-size: 13px;
        }
    }
}
@media (max-width:576px) {
    .container{
        width: 100%;
        padding: 0 15px;
    }
    .aboutus {
        &__title {
            font-size: 24px;
        }
        &__descr {
            font-size: 16px;
        }
    }
    .capabilities {
        padding-bottom: 10px;
        &__info-wrapper{
            grid-template-columns: 320px;
            row-gap: 10px;
            margin-top: 55px;
        }
        &__text-wrapper {
            transform: translateY(0);
        }
        &__text-title {
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
        &__img {
            img {
                display: block;
                margin: 0 auto;
            }
        }
        &__circle {
            width: 33px;
            height: 33px;
            line-height: 33px;
        }
        &__title {
            font-size: 18px;
        }
        &__cover {
            grid-template-columns: 43px 50%;
        }
    }
    .search {
        &__block {
            grid-template-columns: 137px;
        }
        &__btn {
            width: 120px;
            height: 40px;
            font-size: 12px;
            &_blue{
                margin-left: 17px;
            }
        }
        &__title {
            font-size: 17px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .projects {
        &__wrapper {
            grid-template-columns: 230px;
            justify-content: center;
            row-gap: 20px;
        }
    }
}

@media (max-width:425px) {
    .container{
        width: 100%;
        padding: 0 15px;
    }

    .capabilities {
        &__tab {
            margin-left: 9px;
        }
        &__title{
            font-size: 13px;
        }
    }
}