.capabilities {
    min-height: 390px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__cover {
        display: grid;
        grid-template-columns: 43px 72%;
        column-gap: 29px;
    }
    &__divider {
        border: none;
        margin-top: 25px;
    }

    &__circle {
        width: 43px;
        height: 43px;
        background-color: #5f5f5f;
        border-radius: 100%;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        line-height: 42px;
    }

    &__title {
        color: #656565;
        font-family: "Open Sans";
        font-size: 33px;
        font-weight: 300;
        text-align: center;
    }

    &__info-wrapper {
        display: grid;
        grid-template-columns: 113px 650px;
        column-gap: 105px;
        justify-content: center;
        margin-top: 85px;
    }
    &__text-title {
        color: #add136;
        font-family: "Open Sans";
        font-size: 25px;
        font-weight: 400;
    }
    &__descr {
        opacity: 0.67;
        color: #606060;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 400;
        margin-top: 34px;
    }
    &__text-wrapper {
        transform: translateY(-25px);
        &[data-text='simple'] {
            display: block;
        }
        &[data-text='transparent'] {
            display: none;
        }
        &[data-text='collaborative'] {
            display: none;
        }
    }

    &__img {
        img{
            width: 113px;
            height: 102px;
            object-fit: cover;
        }
    }
    &__tab {
        cursor: pointer;
        
        &.active {
            .capabilities__circle {
                background-color: #add136;
            }
            .capabilities__divider {
                border: 1px solid #add136;
            }
        }
    }
    

}