.projects {
    padding-top: 81px;
    position: relative;
    &__title {
        color: #515151;
        font-family: "Open Sans - Semibold";
        font-size: 29px;
        font-weight: 400;
        text-align: left;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 672px 183px;
        column-gap: 125px;
    }
    &__descr {
        color: #8f8f8f;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 400;
        text-align: left;
        line-height: 28px;
        margin-top: 26px;
    }
    &__btn {
        width: 181px;
        height: 50px;
        border: 1px solid #515151;
        background-color: #ffffff;
        opacity: 0.42;
        border-radius: 10px;
        opacity: 0.71;
        color: #515151;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
        align-self: center;
    }
    &__wrapper-cards {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        column-gap: 41px;
        margin-top: 66px;
        position: relative;
    }
    &__scores {
        position: absolute;
        width: 139px;
        height: 35px;
        background-color: #26a6d1;
        border-radius: 10px;
        top: 175px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        div{
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 17px;
            font-weight: 400;
            text-align: center;
            span {
                font-family: "Open Sans";
                font-weight: 700;
            }
        }
    }
    &__card {
        position: relative;
    }

    &__triangle {
        position: absolute;
        border: 25px solid transparent;
        border-left: 25px solid #add136;
        border-top: 25px solid #add136;
        border-radius: 10px 0 0 0;
        &.one {
            top: 3px;
            left: 1px;
        }
        &.two {
            top: 0;
            left: 3px;
        }
        &.free {
            top: 1px;
            left: -1px;
        }
        div {
            position: absolute;
            color: #ffffff;
            font-family: Montserrat;
            font-size: 10px;
            font-weight: 400;
            transform: rotate(313deg);
            top: -12px;
            right: -6px;
        }
    }

    &__card-title {
        color: #484848;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 700;
        text-align: left;
    }
    &__wrapper-content {
        padding: 29px 25px 24px 25px;
    }

    &__card-descr {
        opacity: 0.71;
        color: #484848;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 400;
        text-align: left;
        line-height: 20px;
        margin-top: 17px;
    }
    &__scale {
        width: 248px;
        height: 14px;
        background-color: #e3e3e3;
        border-radius: 10px;
        margin-top: 19px;
        span {
            height: 14px;
            background-color: #add136;
            display: block;
            border-radius: 10px;
        }
    }
    &__info-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    &__info {
        color: #8d8d8d;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 400;
    }
    &__divider {
        border: .5px solid;
        opacity: .2;
        margin-top: 20px;
    }
    &__demonstrate {
        display: flex;
        justify-content: flex-end;
        margin-top: 26px;
    }
    &__text {
        opacity: 0.85;
        color: #484848;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
    }
    &__demonstrate-btn {
        border: 10px solid transparent;
        border-left: 14px solid#add136;
        margin-left: 12px;
    }

    &__img {
        img {
            width: 304px;
            height: 229px;
        }
    }
}